@media screen and (min-width: 1024px) {
  /* general */

  body {
    cursor: url("./assets/square-cursor.png"), auto;
  }

  .mobile-menu-section {
    display: none;
  }

  h1 {
    font-weight: 1000;
    font-style: normal;
    font-size: 2.25rem;
    margin-left: 8%;
  }

  /* technolies section */

  .technologies-container img {
    width: 100px; /* Dimensione delle icone per desktop */
    height: auto;
  }
}
