/* Global Styles */

body {
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Baloo Bhai 2", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.contacts-list a {
  color: white;
  list-style: none;
}

h3 a {
  color: white;
}

/* Header Section */

.header-section {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  position: fixed;
}

/* presentation section */

.gif-container {
  position: relative; /* Posiziona il contenitore in modo relativo */
  width: 150px; /* Larghezza del frame tondo */
  height: 150px; /* Altezza del frame tondo */
  border-radius: 50%; /* Rende il frame tondo */
  overflow: hidden; /* Nasconde le parti della GIF fuori dal frame */
  margin: 0 auto; /* Centra il frame */
}

.gif-container img {
  width: 100%; /* Adatta la GIF alla larghezza del frame */
  height: 100%; /* Adatta la GIF all'altezza del frame */
  object-fit: cover; /* Assicura che la GIF riempia il frame mantenendo le proporzioni */
}

.gif-container .overlay {
  position: absolute; /* Posiziona l'overlay in modo assoluto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Colore nero semi-trasparente */
  border-radius: 50%; /* Mantiene il frame tondo */
}

.presentation-section h2,
.presentation-section p {
  color: white; /* Colore del testo bianco */
  opacity: 0; /* Inizialmente invisibile */
  transform: translateY(-20px); /* Posizione iniziale sopra */
  animation: dropIn 1s forwards; /* Animazione di caduta */
}

.presentation-section h2 {
  animation-delay: 0.5s; /* Ritardo per l'animazione di h2 */
}

.presentation-section p {
  animation-delay: 1s; /* Ritardo per l'animazione di p */
}

@keyframes dropIn {
  to {
    opacity: 1; /* Visibile */
    transform: translateY(0); /* Posizione finale */
  }
}

/* technologies section */

/* Container per il carosello */
.carousel-container {
  width: 100%; /* Larghezza del contenitore */
  overflow: hidden; /* Nasconde gli elementi che escono dal contenitore */
}

/* Contenitore degli elementi (immagini) */
.technologies-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Transizione fluida per lo scorrimento */
}

/* Immagini nel carosello */
.technologies-container img {
  width: 80px; /* Larghezza delle immagini */
  height: auto;
  margin-right: 20px; /* Spaziatura tra le immagini */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* projects section */

.projects-section {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}

a {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Mantiene il colore del testo */
}

.clickable-div {
  display: flex; /* Per layout orizzontale */
  align-items: center; /* Allinea gli elementi al centro */
  justify-content: space-between; /* Spaziatura tra titolo e immagini */
}

/* Footer Section */

.footer-section {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}
