@media screen and (max-width: 1071px) {
  .header-section {
    padding: 4%;
  }
  h1 {
    font-weight: 1000;
    font-style: normal;
    font-size: 2rem;
    margin-left: 2%;
  }

  .contact-item {
    font-size: 0.975rem;
    margin-left: 2%;
  }

  .contact-item img {
    width: 20px;
  }
}
